<div class="page-header">
  <%= link_to edit_task_path(@task), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Editar
  <% end %>
</div>

<dl>
  <dt>Título:</dt>
  <dd><%= @task.title %></dd>

  <dt>Notas:</dt>
  <dd><%= @task.note %></dd>

  <dt>Associado ao Projeto:</dt>
  <dd><%= @task.project.name %></dd>

</dl>
