<div class="page-header">
  <%= link_to new_users_team_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Users team
  <% end %>
  <h1>Listing users_teams</h1>
</div>

<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Team</th>
    </tr>
  </thead>

  <tbody>
<% @users_teams.each do |users_team| %>
    <tr>
      <td><%= User.find(users_team.user_id).to_s %></td>
      <td><%= Team.find(users_team.team_id).name %></td>
    </tr>
<% end %>
  </tbody>
</table>
