<blockquote>
  <table class="table table-hovertable-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>alias</th>
            <th>path</th>
            <th>controller</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <% Rails.application.routes.routes.map do |route|%>
            <tr>
              <td><%= route.name %></td>
              <td><%= route.path.spec.to_s %></td>
              <td><%= route.defaults[:controller] %></td>
              <td><%= route.defaults[:action] %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</blockquote>
