<div class="page-header">
  <%= link_to contacts_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Lista de Contatos
  <% end %>
  <h1>Cadastrar contato</h1>
</div>

<%= render 'form' %>
