<div class="page-header">
  <%= link_to members_projects_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>New members_project</h1>
</div>

<%= render 'form' %>
