<div class="page-header">
  <%= link_to members_projects_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_members_project_path(@members_project), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing members_projects</h1>
</div>

<dl>
  <dt>User:</dt>
  <dd><%= @members_project.user_id %></dd>

  <dt>Project:</dt>
  <dd><%= @members_project.project_id %></dd>

</dl>
