<div class="page-header">
  <%= link_to ticket_priorities_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>New ticket_priority</h1>
</div>

<%= render 'form' %>
