.page-header-no-line {
  margin-top: 0px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20px !important;
  padding-left: 20px!important;
  padding-right: 20px!important;
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
  .breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    list-style: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 30px;
    background-color: transparent !important;
  }
  .breadcrumb li {
    float: left;
    line-height: 30px;
    display: inline-block;
    text-shadow: 0 1px 0 transparent;
  }
  .breadcrumb li a {
    color: white;
    text-decoration: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 50px;
    padding-bottom: 0px;
    background: #85a6e6; /* fallback color */
    background: hsl(200, 100%, 30%);
    position: relative;
    display: block;
    float: left;
  }
  .breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(200, 70%, 20%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
  }

  .breadcrumb li:first-child a {
    padding-left: 20px;
  }
  .breadcrumb li:last-child a {
    color: #ffffff;
    cursor: pointer;
  }
  .breadcrumb li:first-child a {
    background: hsla(200, 70%, 30%, 1);
  }
  .breadcrumb li:first-child a:after {
    border-left-color: hsla(200, 70%, 30%, 1);
  }
  .breadcrumb li:first-child a:hover {
    background: hsla(200, 70%, 20%, 1);
  }
  .breadcrumb li:first-child a:hover:after {
    border-left-color: hsla(200, 70%, 20%, 1) !important;
  }

  .breadcrumb li:last-child a {
    background: hsla(200, 50%, 50%, 1);
  }
  .breadcrumb li:last-child a:after {
    border-left-color: hsla(200, 50%, 50%, 1);
  }
  .breadcrumb li:last-child a:hover {
    background: hsla(200, 85%, 40%, 1);
  }
  .breadcrumb li:last-child a:hover:after {
    border-left-color: hsla(200, 85%, 40%, 1) !important;
  }

}