<p>Bem vindo ao <%= @resource.to_s %>!</p>

<p>Você pode confirmar sua conta através do link abaixo:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
