<p>Bem vindo <%= @resource.to_s %>!</p>

<p>Foi solicitado permissão para trocar sua senha, você pode acesso-lo pelo link abaixo:</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não foi você que solicitiou a troca de senha, favor ignorar este email.</p>
<p>Sua senha não será alterada até que você mesma o faça.</p>
