<p>Olá <%= @resource.to_s %>!</p>

<p>Sua conta foi bloqueada devido ao excesso de tentativas sem sucesso de acesso ao sistema.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta!', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
