<footer id="footer" class="footer" title="Time Tracker Copyright 2014&nbsp;&#169;&nbsp;<%= version %>">
  <div class="container">
    <nobr><%= subtitle %>&nbsp;&#169;&nbsp;<%= Time.now.strftime('%Y') %><i style="font-size: 8px;" >&nbsp;<%= version %></i></nobr>
  </div>
</footer>